//blue ocean theme:
$sun-bleached-color: #CFF09E;
$sea-foam-color: #A8DBA8;
$caribbean-sea-color: #79BD9A;
$misty-ocean-color: #3b8686;
$deep-ocean-color: #0B486B;

// Shelter colors:
$shelter-lavender-color: #665db8;
$shelter-periwinkle-color: #6689B8;
$shelter-dark-periwinkle-color: #5965A1;
$shelter-light-blue: #8EBEFF;
$shelter-light-lavender-color: #D0CEFF;
$shelter-lighter-lavender-color: #E3DFFF;
$shelter-dark-purple-color: #403B6B;
