
body {
  background-color: $shelter-lighter-lavender-color;
}

.title {
    color: $shelter-dark-purple-color;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.submit, .refresh {
  background-color: $shelter-dark-periwinkle-color;
  color: #FFFFFF;
}

.refresh {
  padding: auto;
  margin: 10px;
}

#nav-item {
  font-family: 'Quicksand', sans-serif;
}

.dropdown {
  position: relative;
}

main {
  @include make-container;
  @include make-container-max-widths;
  font-family: 'Quicksand', sans-serif;

  .shelter {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: $white;
    border-bottom: 1px solid;
    border-right: 1px solid;
    cursor: pointer;
    outline: none;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }

    small {
      color: $secondary;
      display: block;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

.content {
    @include make-row;
    //
    // &:empty {
    //   &::before {
    //     color: lighten($info, 25%);
    //     content: 'Click Get Books';
    //     font-size: 10vh;
    //     line-height: .85;
    //     text-align: center;
    //     width: 100%;
    //   }
    // }

    &:not(:empty) {
      border-left: 1px solid;
      border-top: 1px solid;
    }
  }
}
